.selector table {
    width: 100%;
}

.selector thead, 
.selector tbody, 
.selector tr, 
.selector td, 
.selector th { 
    display: block; 
}

.selector tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.selector thead th {
    height: 30px;

    /*text-align: left;*/
}

.selector tbody {
    height: 400px;
    overflow-y: auto;
}

.selector thead {
    /* fallback */
}


.selector#dv-cruces tbody td:nth-child(1),
.selector#dv-cruces thead th:nth-child(1) {
    width: 20%;
    float: left;
}

.selector#dv-cruces tbody td:nth-child(2),
.selector#dv-cruces thead th:nth-child(2) {
    width: 60%;
    float: left;
}

.selector#dv-cruces tbody td:nth-child(3),
.selector#dv-cruces thead th:nth-child(3) {
    width: 20%;
    float: left;
}

div.tooltip-inner {
    padding: 5px !important;
    background-color: #CCC;
}